<div class="container">
    <h2>Ajouter un Coupon</h2>
    <form [formGroup]="couponForm" (ngSubmit)="addCoupon()">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Nom</mat-label>
            <input matInput type="text" placeholder="Nom" formControlName="name"/>
            <mat-error *ngIf="couponForm.get('name')?.hasError('required')">Ce champ est requis !</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Code</mat-label>
            <input matInput type="text" placeholder="Code" formControlName="code"/>
            <mat-error *ngIf="couponForm.get('code')?.hasError('required')">Ce champ est requis !</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Remise (%)</mat-label>
            <input matInput type="number" placeholder="Remise" formControlName="discount"/>
            <mat-error *ngIf="couponForm.get('discount')?.hasError('required')">Ce champ est requis !</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Date d'Expiration</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="expirationDate"/>
            <mat-hint>MM/JJ/AAAA</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="couponForm.get('expirationDate')?.hasError('required')">Ce champ est requis !</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Ajouter le Coupon</button>

    </form>
</div>
