<div class="m-32">
  <form [formGroup]="loginForm" class="max-w-md mx-auto">
    <h2>Connexion</h2>

    <div class="relative z-0 w-full mb-5 group">
      <input type="email" name="floating_email" id="floating_email" formControlName="email"
             class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
             placeholder=" " required/>
      <label for="floating_email"
             class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
      </label>
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-red-500 text-xs">
        Veuillez entrer un e-mail valide.
      </div>
      <div *ngIf="loginForm.get('email')?.hasError('email')">
        Adresse email invalide.
      </div>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <!-- Ajout de pr-10 pour laisser de la place à l'icône -->
      <input [type]="hidePassword ? 'password' : 'text'" name="floating_password" id="floating_password"
             formControlName="password"
             class="block py-2.5 px-0 pr-10 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
             placeholder=" " required/>
      <label for="floating_password"
             class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        Mot de passe
      </label>

      <div type="button" (click)="togglePasswordVisibility()"
           class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-500 focus:outline-none">
        <fa-icon [icon]="hidePassword ? faEyeSlash : faEye" class="pointer-events-none"></fa-icon>
      </div>

      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
           class="text-red-500 text-xs">
        Veuillez entrer un mot de passe valide.
      </div>
      <div *ngIf="loginForm.get('password')?.hasError('minlength')">
        <p class="">Votre mot de passe est composé d'au moins</p>
        <ol>
          <li>- 12 caractères</li>
        </ol>

      </div>
      <div *ngIf="loginForm.get('password')?.hasError('pattern')">

        <ol>
          <li>- Une majuscule</li>
          <li>- Une minuscule</li>
          <li>- Un chiffre</li>
          <li>- Un caractère spécial</li>
        </ol>

      </div>
    </div>

    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="onSubmit()"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Se connecter
    </button>
    <div>
      <button mat-button color="accent" routerLink="/signup">Vous n'avez pas de compte ? Inscrivez-vous</button>
    </div>
  </form>

</div>
