<section class="relative h-[500px] bg-[url('assets/images/cover-bkg.jpg')] bg-cover bg-center bg-no-repeat">
    <div
        class="absolute inset-0 bg-gray-900/75 sm:bg-transparent sm:bg-gradient-to-r sm:from-gray-900/95 sm:to-gray-900/25">
    </div>

    <div class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-full lg:items-center lg:px-8">
        <div class="max-w-xl text-center sm:text-left">
            <h1 class="text-3xl font-extrabold text-white sm:text-5xl">
                L'excellence scientifique

                <strong class="block font-extrabold text-rose-500"> a votre portée </strong>
            </h1>

            <p class="mt-4 max-w-lg text-white sm:text-xl/relaxed">
                Des articles évalués par les pairs, à portée de clic pour une science ouverte et
                fiable.
            </p>

            <div class="mt-8 flex flex-wrap gap-4 text-center">
                <a href="#"
                    class="block w-full rounded-sm bg-white px-12 py-3 text-sm font-medium text-rose-600 shadow-sm hover:text-rose-700 focus:ring-3 focus:outline-hidden sm:w-auto">
                    8 millions de citations
                </a>
            </div>
        </div>
    </div>
</section>
