<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/4 md:w-1/2">
        <div class="h-full flex flex-col items-center border-b border-gray-300">
          <img alt="team" class="flex-shrink-0 w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/200x200">
          <div class="w-full">
            <h2 class="title-font font-medium text-lg text-gray-900 underline decoration-gray-600">ALPER CAMU</h2>
            <p class="m b-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporwareDIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware</p>
            <br><br><br>
            <p class="text-gray-500 mb-3">UI Developer</p>
            <p class="text-gray-500 mb-3"><strong>Revue</strong> | 19 Oct 2025</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

